# Build output
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven
.mvn/timing.properties
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea
*.iws
*.iml
*.ipr
.classpath
.project
.settings
.sts4-cache
.vscode/

# Logs
*.log
logs/

# Environment variables
.env
.env.local
.env.production

# OS files
.DS_Store
Thumbs.db

# Test reports
coverage/
reports/
*.exec
